@model EditSecretsViewModel

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Secrets[0].Type)</th>
            <th>@Html.DisplayNameFor(m => m.Secrets[0].Value)</th>
            <th>@Html.DisplayNameFor(m => m.Secrets[0].CreationTime)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var secret in Model.Secrets)
        {
        <tr>
            <td>@secret.Type</td>
            <td>@secret.Value</td>
            <td>@secret.CreationTime.ToString("g")</td>
            <td>
                <form asp-action="DeleteSecret" asp-route-id="@Model.Id"
                      asp-authorize="@AuthorizationPolicies.ConfigurationEditingPolicy">
                    <input type="hidden" asp-for="@secret.Type" name="@nameof(secret.Type)" />
                    <input type="hidden" asp-for="@secret.Value" name="@nameof(secret.Value)" />
                    <button type="submit" class="btn btn-sm btn-danger">delete</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>